<!DOCTYPE html>
<html ng-app="bills">
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<title>Bills With Friends</title>
		<link rel="stylesheet" href="vendor/foundation/foundation.min.css" />
		<link rel="stylesheet" href="vendor/foundation/top-bar.css" />
		<link rel="stylesheet" href="vendor/foundation_icons_all/foundation_icons_general/stylesheets/general_foundicons.css" />
		<link rel="stylesheet" href="lib/css/editable.css" />
		<link rel="stylesheet" href="lib/css/bills.css" />
	</head>
	<body ng-controller="AppController">
		<div class="body-overlay" ng-show="overlayShowing == true"></div>
		<header>
			<h4>Bills with Friends</h4>
			<button class="button alert left tiny" ng-click="showResetModal()">reset</button>
		</header>
		<div class="reset-modal" ng-show="resetModalShowing == true">
			<p>Are you sure you want to reset?  All data will be lost.</p>
			<div class="modal-options">
				<button class="button secondary left" ng-click="hideResetModal()">Cancel</button>
				<button class="button alert right" ng-click="resetApp()">Reset</button>
			</div>
		</div>
		<div id="main">
			<section ng-controller="PeopleCtrl" ng-show="mode == 'person'">
				<form class="element" ng-submit="addPerson()">
					<input name="name" type="text" placeholder="add person" ng-model="personName" required="required" autocomplete="off">
				</form>
				<ul class="list">
					<li
						ng-repeat="person in people"
						swiperight="swiperight"
					>
						<h3 class="left">{{ person.name }}</h3>
						<div class="right-button-container show-on-swiperight">
							<button type="button" class="button alert person-delete-button" ng-click="deletePerson(person)">Delete</button>
						</div>
					</li>
				</ul>
			</section>
			<section ng-controller="ItemsCtrl" ng-show="mode == 'items'">
				<form class="element add-item-form" ng-submit="submitItem()">
					<div class="input-row">
						<input name="name" type="text" placeholder="item" ng-model="currentItem.name" required="required">
						<input name="price" type="number" placeholder="price" ng-model="currentItem.price" step=".01" min=".01" pattern="^\d+(\.|\,)\d{2}$">
					</div>
					<div class="person-selector">
						<span class="selectable-tag"
							ng-repeat="person in people"
							ng-class="{selected: isSelected(person.id)}"
							ng-click="selectPerson(person.id)"
							>
							{{ person.name }}
						</span>
					</div>
					<button type="submit"
						class="button add-item"
						ng-show="itemAction == 'add'">
						Add Item
					</button>
					<button type="button"
						class="button alert cancel-item-edit"
						ng-show="itemAction == 'edit'"
						ng-click="cancelEdit()"
						>
						Cancel
					</button>
					<button type="submit"
						class="button save-item-edit"
						ng-show="itemAction == 'edit'"
						>
						Save
					</button>
				</form>
				<ul class="list">
					<li
						ng-repeat="item in items"
						swiperight="swiperight"
					>
						<div class="overflowhidden">
							<h3 class="left">{{ item.name }}</h3>
							<h3 class="right">{{ item.price|currency }}</h3>
						</div>
						<span class="tag" ng-repeat="personId in item.people">
							{{ getPerson(personId).name }}
						</span>
						<div class="right-button-container show-on-swiperight">
							<button type="button" class="button alert" hm-tap="deleteItem(item)">Delete</button>
							<button type="button" class="button" hm-tap="editItem(item)">Edit</button>
						</div>
					</li>
				</ul>
			</section>
			<section ng-show="mode == 'summary'" ng-controller="SummaryCtrl">
				<ul class="list">
					<li
						ng-repeat="person in people"
						ng-click="showPerson(person)"
					>
						<div class="overflowhidden person-info">
							<h3 class="left">{{ person.name }}</h3>
							<h3 class="right">{{ person.total|currency }}</h3>
						</div>
						<ul class="receipt"
							ng-show="selectedPerson == person"
						>
							<li class="item"
								ng-repeat="item in person.items"
							>
								<span class="left name">
									{{ item.name }}
								</span>	
								<span class="right price">
									{{ item.amount|currency }}
								</span>	
							</li>
							<li
								class="subtotal-item"
							>
								<span class="left name">
									subtotal:
								</span>
								<span class="right price">
									{{ person.subtotal|currency }}
								</span>
							</li>
							<li
								class="subtotal-item"
								ng-repeat="grat in person.subtotalGratuities"
							>
								<span class="left name">
									{{ grat.name }}:
								</span>
								<span class="right price">
									{{ grat.amount|currency }}
								</span>
							</li>
							<li
								class="subtotal-item"
								ng-repeat="grat in person.totalGratuities"
							>
								<span class="left name">
									{{ grat.name }}:
								</span>
								<span class="right price">
									{{ grat.amount|currency }}
								</span>
							</li>
							<li
								class="total"
							>
								<span class="left name">
									total:
								</span>
								<span class="right price">
									{{ person.total|currency }}
								</span>
							</li>
						</ul>
					</li>
					<li class="total">
						<h3 class="left">Total:</h3>
						<h3 class="right">
							{{ total|currency}}
						</h3>
					</li>
				</ul>
				<form class="element add-gratuity-form" ng-submit="addSubtotalGratuity()">
					<label for="">Add Gratuity</label>
					<input name="name" class="left" type="text" ng-model="newSubtotal.name" required="required" placeholder="name (eg: tip)" />
					<input name="percent" class="right" type="number" ng-model="newSubtotal.percent" step=".01" min=".01" pattern="^\d+(\.|\,)\d{2}$" placeholder="percent (eg: 8.75)" />
					<button type="submit" class="hidden-element"></button>
				</form>
				<ul class="list">
					<li
						ng-repeat="grat in subtotalGratuities"
						swiperight="swiperight"
					>
						<div>
							<form class="add-gratuity-form" ng-submit="$digest()">
								<input name="name" class="left" type="text" ng-model="grat.name" required="required">
								<input name="percent" class="right" type="number" ng-model="grat.percent" step=".01" min=".01" pattern="^\d+(\.|\,)\d{2}$">
							</form>
						</div>
						<div class="right-button-container show-on-swiperight">
							<button type="button" class="button alert person-gratuity-button" hm-tap="deleteSubtotalGratuity(grat)">Delete</button>
						</div>
					</li>
				</ul>
			</section>
		</div>
		<footer class="bottom-nav">
			<button class="nav-button"
				ng-class="{selected: mode == 'person'}"
				ng-click="mode = 'person'"
			>
				People
			</button>
			<button class="nav-button"
				ng-class="{selected: mode == 'items'}"
				ng-click="mode = 'items'"
			>
				Items
			</button>
			<button class="nav-button"
				ng-class="{selected: mode == 'summary'}"
				ng-click="mode = 'summary'"
			>
				Summary
			</button>
		</footer>
		<script type="text/javascript" src="vendor/angularjs/angular.min.js"></script>
		<script type="text/javascript" src="vendor/hammer.js"></script>
		<script type="text/javascript" src="vendor/angular-local-storage/angular-local-storage.js"></script>
		<script type="text/javascript" src="vendor/angular-hammer/angular-hammer.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>
